@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Permanent+Marker&display=swap');
@import './base.css';

.site-head .site-mast {
    display: none;
}
.site-head .site-nav {
  position: fixed;
  background: black;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 1;
  display: none;
}
.site-head .site-banner {
    max-width: 60%;
    margin: 0 auto;
    padding: 0vw 0;
    text-align: center;
    background-image: url(https://raw.githubusercontent.com/cuerposaco/losasesinosdelcomic-assets/master/logo_horizontal.png);
    height: 50vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.site-head .site-banner .site-banner-title {
  margin: 0;
  font-size: 1rem;
  line-height: 0em;
  opacity: 0;
}

.site-head .site-banner .site-banner-desc {
  font-family: 'Permanent Marker', serif;
  font-weight: 400;
  display: block;
  opacity: 1;
  font-size: 2em
}

.site-foot-nav-right {
  display: none;
}

@media (max-width: 680px) {
  .site-head .site-banner {
    height: 50vh;
    max-width: 75%;
  }
}

/* POST CARDS */

@media (max-width: 680px) {
  .post-feed {
      grid-template-columns: 1fr;
  }
  .post-card {
    min-width: calc(92vw);
  }
}

.post-card {
  padding: 2em 0;
}
.post-card-info {
    font-size: 0.9em;
    color: black;
    font-weight: 600;
    padding: 0.5em 0;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 1.5em;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
.post-card-info span {
  padding-right: 0.3em;
}
.post-card-info > span:nth-child(even) {
  opacity: 0;
}
.post-card-info > span:nth-child(odd) {}

.post-card .post-card-title {
  /* font-family: 'Neucha', serif; */
  font-size: 3em;
  font-weight: 100;
  display: block;
  margin: 0;
  margin-top: 0.3em;
  padding: 0.33em 0;
  text-align: center;
}

.post-card .post-card-image {
    padding-top: 77%;
    position: relative;
    border-radius: 100%;
    /* border: 4px solid black; */
    width: 80%;
    margin: 0 auto;
}
.post-card .post-card-image:before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    box-shadow: inset 0px 0px 1em rgba(0,0,0,0.3), inset 0px 0px 1.3em rgba(0,0,0,0.3), inset 0px 0px 1.5em rgba(0,0,0,0.3), inset 0px 0px 1.7em rgba(0,0,0,0.3);
    border-radius: inherit;
}
.post-card .post-card-image:after {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    box-shadow: 0px 1em 1em rgba(0,0,0,0.3);
    border-radius: inherit;
}

.post-card-excerpt {
  font-family: 'Roboto Slab', serif;
    font-size: 0.9em !important;
    line-height: 1.5em !important;
    margin: 0 auto;
    max-width: 81%;
    text-align: center;
}

.post-card .post-card-tags {
  margin: 0 auto;
  font-size: 1.3rem;
  line-height: 1.15em;
  color: var(--color-secondary);
  border-top: 1px solid #f2f2f2;
  justify-content: center;
  display: flex;
  max-width: 80%;
  width: 100%;
  padding: 1.2em;
  font-family: 'Roboto Slab', serif;
}
.post-card-tags > span:nth-child(odd) {
  display: flex;
  background-color: black;
  padding: 0.4em 0.4em;
  border-radius: 0.4em;
  color: white;
  text-transform: uppercase;
}
.post-card-tags > span:nth-child(even) {
  opacity: 0;
  padding: 0 0.3em;
}

.post-card-tags a {
  text-decoration: none;
  color:inherit;
}
.post-card-tags > span:nth-child(odd):hover {
  color: #333;
  background-color: #c3c3c3;
}